test_file.xlsx
00000019
CTBRAIN/XMKURE1E/VERSION
00000019.hdr.txt
DICOMDIR
DICOMDIR.hdr.txt
I1000000
I1000000.hdr.txt
test_file.xlsx
001_test/DICOMDIR
001_test/LOCKFILE
001_test/VERSION
001_test/KJSVRFTE/VERSION
001_test/KJSVRFTE/100SSPWK/I1000000
001_test/KJSVRFTE/100SSPWK/VERSION
CTBRAIN/DICOMDIR
CTBRAIN/LOCKFILE
CTBRAIN/VERSION
CTBRAIN/XMKURE1E/IACCUYWE/VERSION
CTBRAIN/XMKURE1E/IACCUYWE/I1000000
CTBRAIN/XMKURE1E/IACCUYWE/I1000001
CTBRAIN/XMKURE1E/IACCUYWE/I1100000
CTBRAIN/XMKURE1E/IACCUYWE/I1200000
CTBRAIN/XMKURE1E/IACCUYWE/I1300000
CTBRAIN/XMKURE1E/IACCUYWE/I1400000
CTBRAIN/XMKURE1E/IACCUYWE/I1500000
CTBRAIN/XMKURE1E/IACCUYWE/I1600000
CTBRAIN/XMKURE1E/IACCUYWE/I1700000
CTBRAIN/XMKURE1E/IACCUYWE/I1800000
CTBRAIN/XMKURE1E/IACCUYWE/I1900000
CTBRAIN/XMKURE1E/IACCUYWE/I2000000
CTBRAIN/XMKURE1E/IACCUYWE/I2000001
CTBRAIN/XMKURE1E/IACCUYWE/I2100000
CTBRAIN/XMKURE1E/IACCUYWE/I2200000
CTBRAIN/XMKURE1E/IACCUYWE/I2300000
CTBRAIN/XMKURE1E/IACCUYWE/I2400000
CTBRAIN/XMKURE1E/IACCUYWE/I2500000
CTBRAIN/XMKURE1E/IACCUYWE/I2600000
CTBRAIN/XMKURE1E/IACCUYWE/I2700000
CTBRAIN/XMKURE1E/IACCUYWE/I2800000
CTBRAIN/XMKURE1E/IACCUYWE/I2900000
CTBRAIN/XMKURE1E/IACCUYWE/I3000000
CTBRAIN/XMKURE1E/IACCUYWE/I3000001
CTBRAIN/XMKURE1E/IACCUYWE/I3100000
CTBRAIN/XMKURE1E/IACCUYWE/I3200000
CTBRAIN/XMKURE1E/IACCUYWE/I3300000
CTBRAIN/XMKURE1E/IACCUYWE/I3400000
CTBRAIN/XMKURE1E/IACCUYWE/I3500000
CTBRAIN/XMKURE1E/IACCUYWE/I3600000
CTBRAIN/XMKURE1E/IACCUYWE/I3700000
CTBRAIN/XMKURE1E/IACCUYWE/I3800000
CTBRAIN/XMKURE1E/IACCUYWE/I3900000
CTBRAIN/XMKURE1E/IACCUYWE/I4000000
CTBRAIN/XMKURE1E/IACCUYWE/I4000001
CTBRAIN/XMKURE1E/IACCUYWE/I4100000
CTBRAIN/XMKURE1E/IACCUYWE/I4200000
CTBRAIN/XMKURE1E/IACCUYWE/I4300000
CTBRAIN/XMKURE1E/IACCUYWE/I4400000
CTBRAIN/XMKURE1E/IACCUYWE/I4500000
CTBRAIN/XMKURE1E/IACCUYWE/I4600000
CTBRAIN/XMKURE1E/IACCUYWE/I4700000
CTBRAIN/XMKURE1E/IACCUYWE/I4800000
CTBRAIN/XMKURE1E/IACCUYWE/I4900000
CTBRAIN/XMKURE1E/IACCUYWE/I5000000
CTBRAIN/XMKURE1E/IACCUYWE/I5000001
CTBRAIN/XMKURE1E/IACCUYWE/I5100000
CTBRAIN/XMKURE1E/IACCUYWE/I5200000
CTBRAIN/XMKURE1E/IACCUYWE/I5300000
CTBRAIN/XMKURE1E/IACCUYWE/I5400000
CTBRAIN/XMKURE1E/IACCUYWE/I5500000
CTBRAIN/XMKURE1E/IACCUYWE/I5600000
CTBRAIN/XMKURE1E/IACCUYWE/I5700000
CTBRAIN/XMKURE1E/IACCUYWE/I5800000
CTBRAIN/XMKURE1E/IACCUYWE/I5900000
CTBRAIN/XMKURE1E/IACCUYWE/I6000000
CTBRAIN/XMKURE1E/IACCUYWE/I6000001
CTBRAIN/XMKURE1E/IACCUYWE/I6100000
CTBRAIN/XMKURE1E/IACCUYWE/I7000000
CTBRAIN/XMKURE1E/IACCUYWE/I8000000
CTBRAIN/XMKURE1E/IACCUYWE/I9000000
